@font-face {
    font-family: "Playfair Display";
    src: url("/project2026/Font/PlayfairDisplay-VariableFont_wght.ttf");
}

.root {
    -fx-font-family: "Playfair Display";
    -fx-font-smoothing-type: lcd;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-border-color: #C67C4E;
    -fx-border-radius: 6;
    -fx-border-width: 1;
    -fx-padding: 8;
}

.text-field:focused {
    -fx-highlight-fill: #C67C4E;
    -fx-focus-color: #C67C4E;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color: #C67C4E;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3E2723;
}

.primary-button:pressed {
    -fx-background-color: #2a1a17;
}